@import url(./reset.css);
* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif !important;
}
.gameInfo {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.startButton {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}

h1 {
    font-weight: 500;
    font-size: 42px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 4px 2px 8px #000000;
}

h4 {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 15px;
    color: white;
    text-shadow: 4px 2px 8px #000000;
}